/src/fiddlesticks.egg-info/dependency_links.txt
/src/fiddlesticks.egg-info/PKG-INFO
/src/fiddlesticks.egg-info/requires.txt
/src/fiddlesticks.egg-info/SOURCES.txt
/src/fiddlesticks.egg-info/top_level.txt
/uv.lock

**/*/__pycache__
visualizations/bilateral.png
